/*
resets and whatnot slapped in to main styles
*/
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 62.5%;/* 1rem = 10px ala skeleton*/
}
body{
  margin: 0;
  color: #ccc;
  font-size: 1.2rem;/*12px*/
}
h1, h2, ul, li{margin: 0;}
nav{
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}
.navItem{
  min-width: 200px;
  background-color: #000;
  color:red;
  text-align: center;
  box-sizing: border-box;
  border:solid 2px transparent;
}
.navItem:hover,.navItem:active{
  border: solid 2px red;
}
header {
  min-height: 100px;
  width: 100vw;
  background-color: #000;
  color: red;
  text-align: center;
}
main {
  min-height:calc(100vh - 150px);
  display: flex;
  flex-flow: row wrap;
}
footer {
  width: 100vw;
  height: 50px;
  background-color: #000;
}
#map {
  flex-grow: 4;
  flex-basis: 160px;
  order: 1;
  min-width: 320px;
  min-height: calc(100vh - 150px);
  background-color: #ccc;
}
#callBox {
  flex-grow: 1;
  flex-basis: 160px;
  order:2;
  min-width: 160px;
  min-height: calc(100vh - 150px);
  background-color: #000;
}
ul{
  list-style: none;
  -webkit-margin-before:0px;
  -webkit-padding-start: 0px;
  padding:0;
  margin:0;
  border:solid 1px red;
}
li{
  border-bottom: solid 1px red;
  padding: .5em;
  font-size: 1em;
  line-height: 1em;
}
li:last-of-type{border-bottom: 0px;}
@media screen and (min-width:641px) {
  body{font-size: 2rem;}
  #callBox{order:1;}
  #map{order:2;}
}
